.item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.btn-pay {
    background-color: #2ab1ff;
    border: 0;
    color: #fff;
    font-weight: 600;
    text-align: center;
    flex-flow: column;
}

.fa-ticket {
    color: #0e1fa1;
}

#mainItemsContainer {
    float: left;
}

#envioDiv {
    border-width: 1px;
    padding: 10px;
    border-style: solid;
    margin-bottom: 10px;
}

#envioDiv input {
    margin-bottom: 10px;
}

#container {
    margin: 0 10%;
}